<div>

  <div>
    <h1>ゲーム一覧</h1>
  </div>

  <div>
    <table class="table col-4 text-light">
      <% @games.each do |game| %>
        <tr>
          <td>
            <%= link_to game_path(game.id) do %>
              <%= game.game_title %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

</div>