<div>
  <h1>
    <%= @game.game_title %>
  </h1>
</div>

<div>
  <table class="table col-2 text-light">
    <% @game.game_links.each do |game_link| %>
      <tr>
        <td>
          <%= game_link.link_title %>
        </td>

        <td>
          <a href="<%= game_link.link %>">link</a>
        </td>
      </tr>
    <% end %>
  </table>
</div>