<div class="row">
  <h1>ゲーム一覧</h1>
</div>

<div class="row">
  <div class="col-2">
    <h2>新規登録</h2>
  </div>

  <div class="col-5">
    <%= form_with model: @game, url: admin_games_path do |f| %>
      <%= f.label :game_title, "タイトル" %><br />
      <%= f.text_field :game_title %>

      <%= f.submit "登録" %>
    <% end %>
  </div>
</div>