<div class="container-lg">
  <div class="row">
    <div class="col-12">
      <h3 class="d-block col-12 my-5", style="text-align:center">本当に退会しますか？</h3>
      <%= link_to "退会する", users_withdrawal_path, class: 'btn btn-danger border mx-auto d-block col-3' %>
    </div>
  </div>
</div>